<div class="media" id='item-<%= item.id %>'>
  <div class="media-body">
    <p><strong><%= distance_of_time_in_words(Time.now, item.expires_at)%><%=" left before explosion || "%></strong><%= item.name %> <%= link_to "", user_item_path(item.user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></p>
  </div>
</div>